[submodule "samples/TestingExample/_contracts/import/ever-contracts"]
	path = samples/TestingExample/_contracts/import/ever-contracts
	url = https://github.com/broxus/ever-contracts.git
    ignore = dirty
